<div fxLayoutAlign="center center" class="login-background full-page">
  <mat-card id="login-card" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="login()" fxLayout="column" fxLayoutAlign="center center" #loginForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
        <span class="mat-error mat-card-subtitle" [hidden]="!error">{{error}}</span>
        <mat-card-actions>
          <mat-spinner-button
            type="submit"
            [options]="loginButton"
            [disabled]="!(loginForm.form.valid)"
            [active]="loginButton.active || false">
          </mat-spinner-button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-subtitle fxFlexAlign="end end">Version: {{version}}</mat-card-subtitle>
  </mat-card>
</div>
