#login-card {
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  min-width: 300px;
  width: 20%;
  backdrop-filter: blur(10px);
  background-color: #222222dd;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.login-background {
  background-size: cover;
  background: #101010 url('~src/assets/graphics/game-radar-background.svg') no-repeat fixed center center;
}
